extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/movie/new")
        .form-group
          label.col-sm-3.control-label( for="inputTitle" ) 电影名字
          .col-sm-7
            input#inputTitle.form-control(name='movie[title]', type='text', value='#{movie.title}')

        .form-group
          label.col-sm-3.control-label( for= 'inputDirector') 电影导演
          .col-sm-7
            input#inputdirector.form-control(name='movie[director]', type='text', value='#{movie.director}')

        .form-group
          label.col-sm-3.control-label( for= 'inputCountry') 国家
          .col-sm-7
            input#inputcountry.form-control(name='movie[country]', type='text', value='#{movie.country}')

        .form-group
          label.col-sm-3.control-label( for= 'inputLanguage') 语种
          .col-sm-7
            input#inputlanguage.form-control(name='movie[language]', type='text', value='#{movie.language}')

        .form-group
          label.col-sm-3.control-label( for= 'inputYear') 上映年份
          .col-sm-7
            input#inputyear.form-control(name='movie[year]', type='text', value='#{movie.year}')

        .form-group
          label.col-sm-3.control-label( for= 'inputPoster') 海报地址
          .col-sm-7
            input#inputposter.form-control(name='movie[poster]', type='text', value='#{movie.poster}')

        .form-group
          label.col-sm-3.control-label( for= 'inputFlash') 播放地址
          .col-sm-7
            input#inputflash.form-control(name='movie[flash]', type='text', value='#{movie.flash}')

        .form-group
          label.col-sm-3.control-label( for= 'inputSummary') 电影简介
          .col-sm-7
            input#inputsummary.form-control(name='movie[summary]', type='text', value='#{movie.summary}')

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type = 'submit') 录入